@charset "UTF-8";

/*
Paletas de cores
white
black
Azul: #49a09d
roxo: #5f2c82
*/

@media screen and (min-width:770px) and (max-width: 992px) {
    body{
        background-image: linear-gradient(to top, #49a09d , #5f2c82);
    }
    section#login {
        width: 80vw;
        
    }
    section#login > div#Imagem{
        float: left;
        width: 35%;
        height: 100%;

    }

    section#login > div#formulario{
        float: right;
        width: 65%;
    }
    div#formulario > p{
        font-size: 1em;
    }

    
}
@media screen and (min-width:992px) and (max-width: 1200px) {
    body{
        background-image: linear-gradient(to top, #49a09d , #5f2c82);
    }
    section#login {
        width: 85vw;
    }
    section#login > div#Imagem{
        float: left;
        width: 45%;
        height: 100%;

    }

    section#login > div#formulario{
        float: right;
        width: 55%;
    }
}
@media screen and (min-width:1200px) and (max-width: 1900px) {
    body{
        background-image: linear-gradient(to top, #49a09d , #5f2c82);
    }
    section#login {
        width: 85vw;
    }
    section#login > div#Imagem{
        float: left;
        width: 45%;
        height: 100%;

    }

    section#login > div#formulario{
        float: right;
        width: 55%;
    }
    div#formulario > p{
        font-size: 1.2em;
    }
}
@media screen and (min-width:1900px) and (max-width: 3900px) {
    body{
        background-image: linear-gradient(to top, #49a09d , #5f2c82);
    }
    section#login {
        width: 80vw;
    }
    section#login > div#Imagem{
        float: left;
        width: 45%;
        height: 100%;

    }

    section#login > div#formulario{
        float: right;
        width: 55%;
    }
    div#formulario > p{
        font-size: 1.5em;
    }
}